<div class="repel">
  <h1><%= @training.name %></h1>

  <div>
    <%= link_to "Éditer ce groupe de rendez-vous", edit_training_path(@training), class: "button" %>
    <%= link_to "Retour à la liste des rendez-vous", trainings_path, class: "button" %>
  </div>
</div>

<%= render @training %>
