<p style="color: green"><%= notice %></p>

<h1>Workshops</h1>

<div id="workshops">
  <% @workshops.each do |workshop| %>
    <%= render workshop %>
    <p>
      <%= link_to "Show this workshop", workshop %>
    </p>
  <% end %>
</div>

<%= link_to "New workshop", new_workshop_path %>
