<h1>Veuillez compléter vos informations</h1>
<div class="banner">
  <p>Veuillez noter que l'inscription en ligne est expérimentale et qu'il est possible que vous rencontriez des erreurs.</p>
  <p>N'hésitez pas à nous remonter vos problèmes et veuillez nous excuser pour la gêne occasionnée.</p>
</div>
<%= render "form", payor: @payor, url: account_payors_path %>

