<tr data-controller="edit-subscription" id="add-kid-workshop" class="add-item">
  <td colspan="<%= @hide_private ? 7 : 8 %>">
    <button class="button" data-action="edit-subscription#editEntry" data-edit-subscription-url-param="<%= @new_kid_workshop_url %>">
      Ajouter un atelier Enfance
    </button>
  </td>
</tr>
