<% content_for(:page_class, "ecole youth ") %>
<% content_for(:page_title, "Pour les enfants") %>

<section>
  <p>L’école de musique traditionnelle propose différents ateliers à destination des enfants pour leur permettre de s’initier à la musique et à la pratique instrumentale.</p>
</section>
<section>
  <h2>L’éveil musical</h2>
  <div class="panel">
    <p class="subtitle">90€/an – 1 atelier de 45 minutes par semaine</p>
    <i>
      Chant, danse, conte... à la découverte du patrimoine culturel local, de la musique traditionnelle pour les enfants de 4 à 6 ans
    </i>
    <p>Jeux rythmiques et mélodiques autour de la musique traditionnelle, chants, danses, contes, découverte d’instruments, participation à la P’tite Bogue notamment.</p>
  </div>
</section>
<section>
  <h2>Découverte instrumentale</h2>
  <div class="panel">
    <p class="subtitle">130€/an – 1 atelier de 45 minutes par semaine</p>
    <i>Accompagnement de l’élève vers le choix d’un instrument de 7 à 9 ans</i>
    <p>Découverte et pratique de 5 instruments parmi les suivants : biniou-bombarde et cornemuse, clarinette, violon, guitare, flûtes (tin whistle, traversière...), accordéon diatonique, bodhran.</p>
    <p>Jeux rythmiques et mélodiques autour de la musique traditionnelle, chants, danses, percussions corporelles, participation à la P’tite Bogue...</p>
  </div>
</section>
<section>
  <h2>Ateliers chants, musique et danse</h2>
  <div class="panel">
    <p class="subtitle">108€/an – 1 atelier de 45 minutes par semaine</p>
    <h3>Chant et danse avec Mannaïg Le Guevel (Redon)</h3>
    <p>Apprentissage ludique du chant et de la danse de Haute -Bretagne. Mannaïg Le Guevel est passionnée de chant traditionnel de Haute- Bretagne. Elle suit un cursus universitaire (Pont Supérieur) sur les musiques traditionnelles à Rennes, chante dans plusieurs groupes de la nouvelle scène Fest-Noz. Elle est également lauréate de la finale Chant à la Bogue 2022.</p>
    <h3>Chant, musique et danse avec Goulven Dréano (Allaire)</h3>
    <p>Découverte et pratique du répertoire chanté, joué, dansé. Expérimenter le plaisir de jouer ensemble. Percussions corporelles.
    Apprentissage de la danse et d'un répertoire pour se produire à divers moments de l'année.</p>
    <h3>Chant en breton avec Yolaine Delamaire (Allaire)</h3>
    <p>Pour découvrir et pratiquer la langue bretonne en chantant, en dansant et tout en s’amusant !</p>
  </div>
</section>
