<% content_for(:page_class, "association ") %>
<% content_for(:page_title, "L’association") %>

<div class="popout panel">
  <section>
    <h2><%= inline_svg "icons/users" %>Le Groupement Culturel Breton</h2>
    <p>Association de loi 1901, dont le but est de colecter, sauvegarder, et transmettre la matière culturel du Pays de Redon et de la Bretagne.</p>
  </section>

  <section>
    <h2><%= inline_svg "icons/users" %>Groupement de passionnés par le Pays de Redon</h2>
    <h3>1975 : première Bogue</h3>
    <p>L’asso est créée en 1975, et c’est cette année-là qu’a lieu la première Bogue, insufflée par Jean-Bernard Vighetti.</p>
    <h3>Groupement de sujets et de personnes</h3>
    <p>Le nom vient de fait que l’association regroupe en son sein des gens qui s’intéressent au Pays de Vilaine mais dans des domaines différents : archéologie, écologie, musique, chant...</p>
  </section>

  <section>
    <h2><%= inline_svg "icons/users" %>Les personnes derrière le Groupement</h2>
    <h3>Les présidents</h3>
    <p>Quatre personnes se partagent la charge de la présidence de l’association : Gilbert Hervieux pour le Centre Ressources, Philippe Édouard pour l’École de Musique, Matthieu Colléaux pour la Bogue et Olga Franger pour tout ce qui concerne les questions administratives.</p>
    <h3>Le Conseil d’Administration</h3>
    <p>Élu pour 5 ans, il se renouvelle par tiers tous les 5 ans.</p>
    <h3>L’équipe</h3>
    <p>Coordinatrice de l’association, coordinatrice de l'École de Musique, documentaliste secrétaire et professeurs de musique..</p>
  </section>
</div>
