<div id="<%= dom_id subscription %>" class="record flex-column gap-10">
  <section class="flex-column gap-3">
    <h2>Enfance</h2>
    <%= render "secretariat/subbed_kid_workshops/list", subscription: @subscription %>
  </section>

  <section class="flex-column gap-3">
    <h2>Cours</h2>
    <%= render "secretariat/courses/list", subscription: @subscription %>
  </section>

  <section class="flex-column gap-3">
    <h2>Ateliers</h2>
    <%= render "secretariat/subbed_workshops/list", subscription: @subscription %>
  </section>
</div>
