<div id="teachers" class="form-element">
  <%= label_tag "Professeur" %>
  <%= collection_select :teacher, :teacher_ids, teachers, :id, :name, { include_blank: true },
    {
      class: "teacher-select",
      data: {
        fill_select_url_param: "/get_slots?id=",
        fill_select_target_param: ".slot-select",
        action: "fill-select#updateSlots"
      }
    } %>
</div>
