<div id="slots" class="flow">
  <%= label_tag "Lieu et heure" %>
  <%= form.collection_select :workshop_slot_id, slots, :id, :name, {include_blank: "---"},
    {
      class: "workshop-slot-select",
      "data-workshop-target": "slot"
    }  %>
</div>
