<div id="new-subscription">
  <div class="content-header">
    <h1>Nouvelle inscription</h1>
    <%= link_to "Retour aux élèves", secretariat_subscriptions_path %>
  </div>

  <%= render "form", subscription: @subscription %>

</div>
