<% content_for(:page_class, "subscriptions ") %>
<%= render "student_data" %>
<% if @subscription.present? %>
  <%= render "subscription", subscription: @subscription %>

  <%= link_to "Supprimer cette inscription",
    subscription_path(@subscription),
    class: "button",
    data: {
      "button-variant": "alert",
      turbo_method: :delete,
      turbo_confirm: "Êtes-vous sûr·e de vouloir supprimer cette inscription ?"
    } %>
<% else %>
  <div class="banner">Cet·te élève n’a pas d’inscription pour l‘année <%= @season.name %></div>
<% end %>
