<% content_for(:page_class, "account ") %>
<% content_for(:page_title, "Compte") %>

<section>
<h1>Éditer <%= @student.name %></h1>

<%= render "form", student: @student %>

<br>

<div>
  <%= link_to "Retour aux élèves", account_students_path %>
</div>
</section>
