<tr data-controller="edit-payment" id="add-payment" class="add-item">
  <td colspan="4">
    <button class="button" data-action="edit-payment#editEntry" data-edit-payment-url-param="<%= new_secretariat_payment_path %>">
      Ajouter un paiement
    </button>
  </td>
</tr>
