<emt-teaser class="panel flow" data-nowrap>
  <video controls width="250" poster="/assets/videos/Teaser EMT-Couverture.jpg">
      <source src="<%= video_url "teaser.mp4" %>" type="video/mp4" />
      <a href="/assets/videos/Teaser EMT.mp4">Téléchargez la vidéo.</a>
    </video>
</emt-teaser>
