<div class="content-header">
  <h1>Éditer le payeur</h1>
  <div>
    <%= link_to "Retour aux foyers", secretariat_payors_path %>
  </div>
</div>

<%= render "form", payor: @payor, url: secretariat_payor_path %>
