<div class="repel">
  <h1>Éditer cette Bogue</h1>
  <div>
    <%= link_to "Retour aux autres éditions", bogues_path, class: "button" %>
  </div>
</div>

<%= render "form", bogue: @bogue, url: bogue_path, class: "button" %>
