<tr data-controller="edit-subscription" id="add-instrument" class="add-item">
  <td colspan="9">
    <button class="button" data-action="edit-subscription#editEntry" data-edit-subscription-url-param="<%= new_secretariat_course_path %>">
      Ajouter une discipline
    </button>
  </td>
</tr>
