<div class="repel">
  <h1>Inscription confirmée</h1>
</div>
<div class="flow">
  <p>Merci de vous être inscrit à l'École de Musique Traditionnelle du Groupement Culturel Breton des Pays de Vilaine !</p>
  <p>Si vous avez constaté une erreur, que vous souhaitez modifier votre inscription ou que vous avez une question, vous pouvez nous contacter à l'adresse <%= link_to "ecole@gcbpv.org", "mailto:ecole@gcbpv.org" %></p>
  <p>Il ne reste plus qu'à régler votre inscription. Il n'est pas encore possible de régler en ligne, mais voici les options de paiement possibles :</p>
  <ul>
    <li>Par chèque, à l'ordre de <strong>GCBPV</strong></li>
    <li>En espèces au secrétariat</li>
    <li>Par virement – IBAN <strong>FR76 1380 7007 1410 7218 0382 612</strong> BIC <strong>CCBPFRPPNAN</strong></li>
    <li>Chèques Vacances Connect – numéro à fournir au secrétariat</li>
  </ul>
  <p>Il vous est possible de régler en plusieurs fois si vous le souhaitez.</p>
  <p>Vous pouvez également percevoir ces aides directement :</p>
  <ul>
    <li>Pass Culture pour les 15-18 ans</li>
    <li>Comités d'entreprises, CNAS, COS...</li>
  </ul>
</div>
