<div id="slots" class="flow">
  <%= label_tag "Lieu et heure" %>
  <%= form.collection_select :kid_workshop_slot_id, slots, :id, :name, { selected: selected, required: true }, class: "kid-workshop-slot-select"  %>
</div>
