<div class="repel">
  <h1>Inscriptions</h1>
  <%= link_to "Ajouter une inscription pour cette année", new_account_subscription_path, class: "button" if @group_on_hold || @subscription_group.nil? %>
</div>
<% if @subscription_group.present? && !@group_on_hold %>
  <div class="banner">
    <p>Votre inscription a bien été prise en compte.</p>
    <p>Si vous souhaitez la modifier ou que vous avez constaté une erreur, contactez-nous !</p>
  </div>
<% end %>
<% if @subscription_group.present? %>
  <%= form_for(@subscription_group, url: account_subscription_group_path(@subscription_group), class: "flow", data: @form_data) do |f| %>
    <%= render "subscriptions", f: f %>
  <% end %>
<% else %>
  <%= render "subscriptions" %>
<% end %>
