<div class="repel">
  <h1>Éditer la page</h1>
  <div>
    <%= link_to "Retour aux pages", bogue_path(@bogue.id), class: "button" %>
    <%= link_to "Supprimer la page", bogue_page_path(bogue_id: @bogue.id, id: @page.id),
      class: "button", 
      data: {
        turbo_method: :delete,
        turbo_confirm: "Êtes-vous sûr·e de vouloir supprimer cette page ?"
      } %>
  </div>
</div>

<%= render "form", page: @page, url: edit_bogue_page_path, class: "button" %>
