<div id="new-page">
  <div class="repel">
    <h1>Nouvelle page</h1>
    <%= link_to "Retour aux pages", bogue_path(@bogue.id), class: "button" %>
  </div>

  <%= render "bogues/pages/form", page: @page, url: bogue_pages_path %>

</div>
