<div class="repel">
  <h1><%= @page.name %></h1>

  <div>
    <%= link_to "Éditer cette page", edit_bogue_page_path(bogue_id: @bogue.id, id: @page.id), class: "button" %>
    <%= link_to "Retour à la liste des pages", bogue_page_path(bogue_id: @bogue.id, id: @page.id), class: "button" %>
  </div>
</div>

<%= render @page %>
