<%= turbo_frame_tag "student" do %>
  <div class="flow" data-controller="address">
    <div class="cluster">
      <div class="flow">
        <label for="student_birth_year">Année de naissance</label>
        <%= text_field :student, :birth_year, required: true %>
      </div>

      <div class="flow">
        <label for="student_gender">Genre</label>
        <%= select :student, :gender, Student.genders.keys.map {|gender| [gender,gender]} %>
      </div>
    </div>
  </div>
<% end %>
