<h1>Modifier ce professeur</h1>

<%= render "form", teacher: @teacher, url: secretariat_teacher_path %>

<br>

<div>
  <%= link_to "Afficher ce professeur", @teacher %> |
  <%= link_to "Retour aux professeurs", teachers_path %>
</div>
