<p style="color: green"><%= notice %></p>

<div>
  <%= link_to "Éditer ce professeur", edit_secretariat_teacher_path(@teacher) %> |
  <%= link_to "Retour à la liste des professeurs", secretariat_teachers_path %>
</div>

<%= render @teacher %>
