<% content_for(:page_class, "events ") %>
<% content_for(:page_title, "Événements") %>

<div class="flex-column gap-8">
  <section>
    <h2><%= inline_svg "icons/calendar-check" %>Les événements à venir</h2>
    <div class="panel">
      <%= render Website::Card::Event::Component.with_collection(@upcoming_events) %>
    </div>
  </section>

  <section>
    <h2><%= inline_svg "icons/calendar-off" %>Les événements passés</h2>
    <div class="panel">
      <%= render Website::Card::Event::Component.with_collection(@passed_events) %>
    </div>
  </section>
</div>
