.secretariat {
  background-color: var(--red-0);
  display: grid;
  grid-template-columns: 250px auto;
  min-height: 100vh;
  padding: var(--size-3);

  .header-title {
    font-family: var(--font-serif);
    font-size: var(--font-size-5);
  }

  > header {
    padding: var(--size-3);
    nav {
      align-items: start;
      display: flex;
      flex-direction: column;
      gap: var(--size-2);
      margin-top: var(--size-4);
      padding: 0;
    }
  }

  main {
    background-color: var(--white);
    border-radius: var(--radius-2);
    display: flex;
    align-items: stretch;
    flex-direction: column;
    gap: var(--size-3);
    padding: var(--size-8) var(--size-16);
  }

  .content-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  table {
    td {
      vertical-align: middle;
    }
  }

  .record {
    display: flex;
    flex-direction: column;
    gap: var(--size-4);
    margin-block-start: var(--size-4);

    &[aria-hidden=true] {
      display: none;
    }
  }

  form {
    .search-input {
      flex-shrink: 0;
      
      input {
        width: 245px;
      }
    }

    select {
      max-width: 400px;
    }
  }

  h1 {
    font-size: var(--font-size-fluid-3);
  }

  h2 {
    margin: 0;
  }

  .page-info {
    display: flex;
    flex-direction: column;
    gap: var(--size-2);

    dl + dl {
      margin: 0;
    }

    dt {
      font-size: var(--font-size-2);
    }
  }

  .cell-full {
    text-align: end;
  }

  .optional-count {
    color: var(--dark-accent);
  }

  .page-end {
    margin-block-start: auto;
  }

  #infos:not([aria-hidden="true"]) {
    display: flex;
    flex-direction: column;
    gap: var(--size-3);
  }
}
