.secretariat {
  padding: var(--size-step-4);

  .header-title,
  .header-title:visited {
    color: var(--text-color);
    font-family: var(--font-serif);
    font-size: var(--size-step-3);
    text-decoration: none;
  }

  > header {
    background-color: var(--color-primary);
    border-radius: var(--radius-m);
    padding: var(--space-s) var(--space-m);

    nav {
      display: flex;
      gap: var(--size-step-2);
    }
  }

  .content-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  table {
    td {
      vertical-align: middle;
    }

    .add-item {
      text-align: end;
    }

    .cell-day_of_week,
    .cell-city,
    .cell-start_date,
    .cell-end_date,
    .cell-amount,
    .cell-options {
      white-space: nowrap;
    }
  }

  .record {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
    margin-block-start: var(--space-m);

    &[hidden=true] {
      display: none;
    }
  }

  form {
    --flow-space: var(--space-xs);

    .cluster {
      --gutter: var(--space-s);
    }

    .cluster .cluster {
      --gutter: 0;
    }

    .cluster .flow {
      --flow-space: 0;
    }

    .search-input {
      flex-shrink: 0;
      
      input {
        width: 252px;
      }
    }

    :is(table input:not([type='checkbox'], [type='radio'], [type='color']), select, textarea) {
      width: 100%;
    }
  }

  .button-group {
    --flow-space: var(--space-m);
  }

  h1 {
    font-size: var(--size-step-3);
  }

  h2 {
    font-size: var(--size-step-2);
    margin: 0;
  }

  .page-info {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);

    dl + dl {
      margin: 0;
    }

    dt {
      font-size: var(--font-space-xs);
    }
  }

  .cell-full {
    text-align: end;
  }

  .optional-count {
    color: var(--secondary);
  }

  #infos:not([hidden="true"]) {
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
  }

  .address-block {
    display: none;
  }

  .address-condition:has(#payor_address_no:checked) + .address-block {
    display: block;
  }
}
