.secretariat {
  .header-title,
  .header-title:visited {
    color: var(--text-color);
    font-family: var(--font-serif);
    font-size: var(--size-step-3);
    text-decoration: none;
  }

  > header {
    border-block-end: var(--stroke);
    padding: var(--space-s) var(--space-l);

    nav {
      display: flex;
      gap: var(--size-step-2);
    }
  }

  main {
    padding: var(--size-step-8);
  }

  table {
    td {
      vertical-align: middle;
    }

    .add-item {
      text-align: end;
    }

    .cell-day_of_week,
    .cell-city,
    .cell-start_date,
    .cell-end_date,
    .cell-amount,
    .cell-options {
      white-space: nowrap;
    }

    .cell-amount {
      font-size: var(--size-step-00);
    }

    .cell-amount .cluster {
      --cluster-horizontal-alignment: end;
      --gutter: 0;
    }

    .cell-amount input {
      font-size: var(--size-step-00);
      padding: 0.3em 0.5em;
      text-align: right;
    }

    .cell-amount :is([type=submit], [type=button]) {
      margin: 0;
    }
  }

  .record {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
    margin-block-start: var(--space-m);

    &[hidden=true] {
      display: none;
    }
  }

  form {
    .search-input {
      flex-shrink: 0;
      
      input {
        width: 252px;
      }
    }
  }

  :where(table input:not([type='checkbox'], [type='radio'], [type='color']), select, textarea) {
    width: 100%;
  }

  .button-group {
    --flow-space: var(--space-m);
  }

  h1 {
    display: flex;
    align-items: center;
    gap: var(--space-s);
    font-size: var(--size-step-3);
  }

  h2 {
    font-size: var(--size-step-2);
    margin: 0;
  }

  .page-info {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);

    dl + dl {
      margin: 0;
    }

    dt {
      font-size: var(--font-space-xs);
    }
  }

  .cell-full {
    text-align: end;
  }

  .optional-count {
    color: var(--secondary);
  }

  #infos:not([hidden="true"]) {
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
  }

  .address-block {
    display: none;
  }

  .address-condition:has(#household_address_no:checked) + .address-block {
    display: block;
  }
  
  .edit_student {
    font-size: var(--size-step-00);
  }
}
