<div id="new-post">
  <div class="content-header">
    <h1>Nouvel article</h1>
    <%= link_to "Retour aux articles", secretariat_posts_path %>
  </div>

  <%= render "form", post: @post, url: secretariat_posts_path %>

</div>
