<div id="new-post">
  <div class="content-header">
    <h1>Nouvelle actualité</h1>
    <%= link_to "Retour aux actualités", secretariat_posts_path %>
  </div>

  <%= render "secretariat/posts/form", post: @post, url: secretariat_posts_path %>

</div>
