<h1>Editing workshop</h1>

<%= render "form", kid_workshop: @kid_workshop %>

<br>

<div>
  <%= link_to "Show this kid_workshop", @kid_workshop %> |
  <%= link_to "Back to kid_workshops", kid_workshops_path %>
</div>
