<div class="repel">
  <h1><%= @workshop_slot.name %></h1>

  <div>
    <%= link_to "Éditer cet événement", edit_workshop_slot_path(@workshop_slot.id), class: "button" %>
    <%= link_to "Retour à la liste des événements", workshop_slots_path, class: "button" %>
  </div>
</div>

<%= render @workshop_slot %>
