<% content_for(:page_class, "archives editions ") %>
<% content_for(:page_title, "Les éditions") %>

<div class="flex-column gap-6">
  <section class="panel">
    <p>CDs, ouvrages… tous contribuent à valoriser le patrimoine culturel. Certains d’entre eux sont édités directement par le Groupement Culturel Breton ou en co-édition. D’autres sont l’œuvre  d’artistes locaux… mais tous sont en vente dans nos locaux ou sur commande.</p>
  </section>
  <%= render Shared::UnderConstruction::Component.new %>
    <%# render Website::Card::Edition::Component.with_collection(@editions)%>
</div>
