<% content_for(:page_class, "archives edition-page ") %>
<% content_for(:page_title, @edition.name) %>

<section class="panel popout grid" data-grid="1-3">
  <div class="left">
    <%= image_tag @edition.image %>
  </div>
  <div class="right">
    <%= simple_format(@edition.description) %>
    <dl>
      <% if @edition.format.present? %>
        <div>
          <dt>Format</dt>
          <dd><%= @edition.format %></dd>
        </div>
      <% end %>
      <% if @edition.price.present? %>
        <div>
          <dt>Prix</dt>
          <dd><%= number_to_currency(@edition.price, unit: "€") %></dd>
        </div>
      <% end %>
    </dl>
  </div>
</section>
