<div class="content-header">
  <h1>Éditer l’événement</h1>
  <div>
    <%= link_to "Retour aux événements", secretariat_bogue_path(@bogue.id) %> |
    <%= link_to "Supprimer l’événement", secretariat_bogue_event_path(bogue_id: @bogue.id, id: @event.id), 
      data: {
        turbo_method: :delete,
        turbo_confirm: "Êtes-vous sûr·e de vouloir supprimer cet événement ?"
      } %>
  </div>
</div>

<%= render "form", event: @event, url: "/secretariat/bogues/#{@bogue.id}/evenements/#{@event.id}" %>
