//= require trix

@charset "utf-8";

@import "reset/normalize";

@import "selectize";

@import "library/clearfix";
@import "library/data-label";
@import "library/variables";

@import "base/forms";
@import "base/layout";
@import "base/lists";
@import "base/tables";
@import "base/typography";

@import "components/app-container";
@import "components/attributes";
@import "components/buttons";
@import "components/cells";
@import "components/field-unit";
@import "components/flashes";
@import "components/form-actions";
@import "components/main-content";
@import "components/navigation";
@import "components/pagination";
@import "components/search";

@import "utilities/text-color";

.stats {
  padding: 2rem;

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
    font-weight: 600;
  }

  .numbers {
    display: flex;
    gap: 1rem;

    dt {
      margin: 0;
    }
  }

  .count {
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr 1fr;
    margin-block-start: 2rem;

    dd {
      padding-block-end: 1rem;

      h4 {
        margin-block-start: 0.75rem;
      }
    }

    dd + dt {
      border-block-start: 1px solid lightgray;
      margin: 0;
      padding-block-start: 1rem;
    }
  }
}
