<tr data-controller="edit-subscription" id="add-workshop" class="add-item">
  <td colspan="<%= @hide_private ? 7 : 8 %>">
    <button class="button" data-button-size="small"data-action="edit-subscription#editEntry" data-edit-subscription-url-param="<%= @new_workshop_url %>">
      Ajouter un atelier
    </button>
  </td>
</tr>
