<div id="new-email">
  <div class="repel">
    <h1>Nouvel email</h1>
    <%= link_to "Retour aux emails", secretariat_emails_path %>
  </div>

  <%= render "form", email: @email, url: secretariat_emails_path %>

</div>
