<div class="switcher">
<%= image_tag "icons/forbidden.svg", class: "error-icon" %>
  <div class="flow">
    <h1>Vous n’avez pas les autorisations pour accéder à cette page</h1>
    <p>Veuillez contacter un⸱e administrateur⸱ice pour obtenir les accès.</p>
  </div>
</div>
