<div class="switcher">
<%= image_tag "icons/directions.svg", class: "error-icon" %>
  <div class="flow">
    <h1>Cette page n’existe pas.</h1>
    <p>Vous avez peut-être mal renseignée son adresse ou la page a pu être supprimée.</p>
  </div>
</div>
