<div class="switcher">
<%= image_tag "icons/device_desktop_working_code.svg", class: "error-icon" %>
  <div class="flow">
    <h1>Une erreur est survenue.</h1>
    <p>Veuillez nous excuser pour la gêne occasionnée, notre équipe fait son possible pour rétablir le site.</p>
  </div>
</div>
