<hero-container class="feature home-hero">
  <div class="title">
    <h1>Groupement Culturel Breton des Pays de Vilaine</h1>
    <p>
      Collecter, sauvegarder, transmettre et valoriser le patrimoine culturel local. 
      Promouvoir de nouvelles formes d'expression à partir de ce patrimoine.
    </p>
  </div>
  <div class="bento">
    <div class="chateau"></div>
    <div class="categories flex-column gap-6">
      <%= render Website::HeroCard::Component.new(title: "La Bogue", url: bogue_path, css_classes: "bogue") %>
      <%= render Website::HeroCard::Component.new(title: "L'école de musique traditionnelle", url: ecole_path, css_classes: "ecole") %>
      <%= render Website::HeroCard::Component.new(title: "Centre de ressources", url: archives_path, css_classes: "archives") %>
    </div>
  </div>
</hero-container>
