<hero-container class="feature home-hero">
  <div class="title">
    <h1>Groupement Culturel Breton <wbr>des Pays de Vilaine</h1>
    <p>
      Collecter, sauvegarder, transmettre et valoriser le patrimoine culturel local. 
      Promouvoir de nouvelles formes d'expression à partir de ce patrimoine.
    </p>
  </div>
  <div class="bento">
    <div class="carousel">
      <%= image_tag "home/joute.jpg" %>
    </div>
    <%= render Website::HeroCard::Component.new(title: "La Bogue d’Or", url: bogue_path, css_classes: "bogue") %>
    <%= render Website::HeroCard::Component.new(title: "L'école de musique traditionnelle", url: ecole_path, css_classes: "ecole") %>
    <%= render Website::HeroCard::Component.new(title: "Centre de ressources", url: archives_path, css_classes: "archives") %>
  </div>
</hero-container>
