html {
  --light-shades: var(--mint);
  --light-accent: var(--amethyst);
  --main-brand: var(--buttercup);
  --dark-accent: var(--chestnut);
  --dark-shades: var(--prussian);

  --main-gradient: linear-gradient(135deg, var(--light-accent) 0%, var(--main-brand) 50%, var(--dark-accent) 100%);
  --soft-gradient: linear-gradient(135deg, color-mix(in srgb, var(--light-accent), transparent 70%),  0%, color-mix(in srgb, var(--main-brand), transparent 90%) 50%, color-mix(in srgb, var(--dark-accent), transparent 70%) 100%);

  --background-color: var(--light-shades);
  --content-background-color: var(--light-shades);

  --text-color: var(--black);
  --text-color-secondary: color-mix(in srgb, var(--text-color), transparent 30%);
  
  --shadow-color-dark: 211deg 66% 5%;
  --shadow-color-light: 111deg 6% 58%;
  --light-elevation-low:
    0.3px 0.5px 0.7px hsl(var(--shadow-color-light) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color-light) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color-light) / 0.34);
  --light-elevation-medium:
    0.3px 0.5px 0.7px hsl(var(--shadow-color-light) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color-light) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color-light) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color-light) / 0.36);
  --light-elevation-high:
    0.3px 0.5px 0.7px hsl(var(--shadow-color-light) / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color-light) / 0.34),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color-light) / 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color-light) / 0.34),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color-light) / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color-light) / 0.34),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color-light) / 0.34),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color-light) / 0.34);

  --dark-elevation-low:
    0.3px 0.5px 0.7px hsl(var(--shadow-color-dark) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color-dark) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color-dark) / 0.34);
  --dark-elevation-medium:
    0.3px 0.5px 0.7px hsl(var(--shadow-color-dark) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color-dark) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color-dark) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color-dark) / 0.36);
  --dark-elevation-high:
    0.3px 0.5px 0.7px hsl(var(--shadow-color-dark) / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color-dark) / 0.34),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color-dark) / 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color-dark) / 0.34),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color-dark) / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color-dark) / 0.34),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color-dark) / 0.34),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color-dark) / 0.34);
}
