:where(html) {
  --white: #ffffff;
  --gray: #e0e0e0;
  --dark-gray: #858586;
  --black: #1b1b1d;
  --mint: #ebf0ea;
  --amethyst: #8371AE;
  --buttercup: #fbaf00;
  --chestnut: #a44a38;
  --prussian: #152535;

  --apple: #7eaf3d;
  --orange: #fb9f05;
  --vermilion: #f44336;
}
