:where(html) {
  --size-unit: 4px;

  --size-px: calc(var(--size-unit) * 0.25);
  --size-05: calc(var(--size-unit) * 0.5); /* 2px */
  --size-1: var(--size-unit); /* 4px */
  --size-2: calc(var(--size-unit) * 2); /* 8px */
  --size-3: calc(var(--size-unit) * 3); /* 12px */
  --size-4: calc(var(--size-unit) * 4); /* 16px */
  --size-5: calc(var(--size-unit) * 5); /* 20px */
  --size-6: calc(var(--size-unit) * 6); /* 24px */
  --size-7: calc(var(--size-unit) * 7); /* 28px */
  --size-8: calc(var(--size-unit) * 8); /* 32px */
  --size-9: calc(var(--size-unit) * 9); /* 36px */
  --size-10: calc(var(--size-unit) * 10); /* 40px */
  --size-11: calc(var(--size-unit) * 11); /* 44px */
  --size-12: calc(var(--size-unit) * 12); /* 48px */
  --size-14: calc(var(--size-unit) * 14); /* 56px */
  --size-15: calc(var(--size-unit) * 15); /* 60px */
  --size-16: calc(var(--size-unit) * 16); /* 64px */
  --size-18: calc(var(--size-unit) * 18); /* 72px */
  --size-20: calc(var(--size-unit) * 20); /* 80px */
  --size-24: calc(var(--size-unit) * 24); /* 96px */
  --size-28: calc(var(--size-unit) * 28); /* 112px */
  --size-30: calc(var(--size-unit) * 30); /* 120px */
  --size-32: calc(var(--size-unit) * 32); /* 128px */
  --size-34: calc(var(--size-unit) * 34); /* 136px */
  --size-40: calc(var(--size-unit) * 40); /* 160px */
  --size-fluid-1: clamp(.5rem, 1vw, 1rem);
  --size-fluid-2: clamp(1rem, 2vw, 1.5rem);
  --size-fluid-3: clamp(1.5rem, 3vw, 2rem);
  --size-fluid-4: clamp(2rem, 4vw, 3rem);
  --size-fluid-5: clamp(4rem, 5vw, 5rem);
  --size-fluid-6: clamp(5rem, 7vw, 7.5rem);
  --size-fluid-7: clamp(7.5rem, 10vw, 10rem);
  --size-fluid-8: clamp(10rem, 20vw, 15rem);
  --size-fluid-9: clamp(15rem, 30vw, 20rem);
  --size-fluid-10: clamp(20rem, 40vw, 30rem);
  --size-content-1: 20ch;
  --size-content-2: 45ch;
  --size-content-3: 60ch;
  --size-header-1: 20ch;
  --size-header-2: 25ch;
  --size-header-3: 35ch;
  --size-xxs: 240px;
  --size-xs: 360px;
  --size-sm: 480px;
  --size-md: 768px;
  --size-lg: 1024px;
  --size-xl: 1440px;
  --size-xxl: 1920px;
  --size-relative-000: -.5ch;
  --size-relative-00: -.25ch;
  --size-relative-1: .25ch;
  --size-relative-2: .5ch;
  --size-relative-3: 1ch;
  --size-relative-4: 1.25ch;
  --size-relative-5: 1.5ch;
  --size-relative-6: 1.75ch;
  --size-relative-7: 2ch;
  --size-relative-8: 3ch;
  --size-relative-9: 4ch;
  --size-relative-10: 5ch;
  --size-relative-11: 7.5ch;
  --size-relative-12: 10ch;
  --size-relative-13: 15ch;
  --size-relative-14: 20ch;
  --size-relative-15: 30ch;

  --space-3xs: clamp(0.25rem, 0.2283rem + 0.1087vi, 0.3125rem);
  --space-2xs: clamp(0.5rem, 0.4565rem + 0.2174vi, 0.625rem);
  --space-xs: clamp(0.75rem, 0.6848rem + 0.3261vi, 0.9375rem);
  --space-s: clamp(1rem, 0.913rem + 0.4348vi, 1.25rem);
  --space-m: clamp(1.5rem, 1.3696rem + 0.6522vi, 1.875rem);
  --space-l: clamp(2rem, 1.8261rem + 0.8696vi, 2.5rem);
  --space-xl: clamp(3rem, 2.7391rem + 1.3043vi, 3.75rem);
  --space-2xl: clamp(4rem, 3.6522rem + 1.7391vi, 5rem);
  --space-3xl: clamp(6rem, 5.4783rem + 2.6087vi, 7.5rem);
  --space-4xl: clamp(7rem, 6.3913rem + 3.0435vi, 8.75rem);
}
