<div class="repel">
  <h1>Éditer l’événement</h1>
  <div>
    <%= link_to "Retour aux événements", bogue_path(@bogue.id), class: "button" %>
    <%= link_to "Supprimer l’événement", bogue_event_path(bogue_id: @bogue.id, id: @event.id),
      class: "button", 
      data: {
        turbo_method: :delete,
        turbo_confirm: "Êtes-vous sûr·e de vouloir supprimer cet événement ?"
      } %>
  </div>
</div>

<%= render "form", event: @event, url: "/bogues/#{@bogue.id}/evenements/#{@event.id}" %>
