<div class="repel">
  <h1><%= @event.name %></h1>

  <div>
    <%= link_to "Éditer cet événement", edit_bogue_event_path(bogue_id: @bogue.id, id: @event.id), class: "button" %>
    <%= link_to "Retour à la liste des événements", bogue_event_path(bogue_id: @bogue.id, id: @event.id), class: "button" %>
  </div>
</div>

<%= render @event %>
