<section>
  <h1>Nouvelle inscription</h1>

  <%= render "form", subscription_group: @subscription_group %>

  <br>

  <div>
    <%= link_to "Retour", compte_subscription_groups_path %>
  </div>
</section>
