<div id="new-event">
  <div class="repel">
    <h1>Nouvel événement</h1>
    <%= link_to "Retour aux événements", bogue_path(@bogue.id), class: "button" %>
  </div>

  <%= render "bogues/events/form", event: @event, url: bogue_events_path %>

</div>
