<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <header>Groupement Culturel Breton des Pays de Vilaine</header>
    <h1><%= @subject %></h1>
    <div><%= simple_format(@content) %></div>
  </body>
</html>
