<%= link_to public_send(@path, @workshop), class: "card panel" do %>
  <div class="card-info flow">
    <h3><%= @workshop.name %></h3>
    <% if @workshop.workshop_slots.present? %>
      <div class="tag-list cluster">
        <% @workshop.workshop_slots.active.collect{|slot| slot.city }.uniq.each do |city| %>
          <span class="tag">
            <span><%= "#{city.name}" %></span>
          </span>
        <% end %>
        <% teacher_names.each do |name| %>
          <span class="tag" data-tag-color="dark">
            <span><%= "#{name}" %></span>
          </span>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
