<%= link_to public_send(@path, @workshop), class: "card" do %>
  <div class="card-info">
    <% if @workshop.workshop_slots.present? %>
      <div class="tag-list">
        <% @workshop.workshop_slots.each do |slot| %>
          <span class="tag" data-tag-color="dark">
            <span><%= "#{slot.city.name} : #{teacher_names(slot)}" %></span>
          </span>
        <% end %>
      </div>
    <% end %>
    <h3><%= @workshop.name %></h3>
  </div>
<% end %>
