<% content_for(:page_class, "ecole teachers ") %>
<% content_for(:page_title, "Les professeurs") %>

<section class="feature grid">
  <%= render Website::Card::Teacher::Component.with_collection(@teachers) %>
</section>
