<tr data-controller="edit-subscription" id="add-instrument" class="add-item">
  <td colspan="<%= @hide_private ? 8 : 9 %>">
    <button class="button" data-action="edit-subscription#editEntry" data-edit-subscription-url-param="<%= @new_course_url %>">
      Ajouter une discipline
    </button>
  </td>
</tr>
