.banner {
  --banner-color: var(--color-secondary);
  background-color: color-mix(in srgb, var(--banner-color), transparent 40%);
  border: 1px solid var(--banner-color);
  padding: var(--space-xs) var(--space-l);

  &:where([data-banner-variant="success"]) {
    --banner-color: var(--color-success);
  }

  &:where([data-banner-variant="alert"]) {
    --banner-color: var(--color-error);
  }
}
