.button {
  --button-bg: var(--color-primary);
  --button-text: var(--color-dark);
  --button-x-padding: 2em;
  --button-y-padding: 1em;
  --button-gutter: 0.5ch;
  --button-radius: var(--radius-s);
  --focus-color: var(--color-primary);

  --flow-space: var(--space-m);

  display: inline-flex;
  gap: var(--button-gutter);
  align-items: center;
  line-height: var(--leading-flat);
  position: relative;
  border: none;
  cursor: pointer;
  background: var(--button-bg);
  color: var(--button-text);
  padding: var(--button-y-padding) var(--button-x-padding);
  text-transform: uppercase;
  letter-spacing: var(--uppercase-kerning);
  text-decoration: none;
  font-family: var(--font-base);
  font-size: var(--size-step-00);
  font-weight: var(--font-bold);
  border-radius: var(--button-radius);
}

.button:hover {
  filter: brightness(105%);
}

.button:hover .corner {
  --corner-offset: 60%;
}

.button:active {
  transform: scale(99%);
}

/* Variant exceptions */
.button[data-button-variant='secondary'] {
  --button-bg: var(--color-dark-glare);
  --button-text: var(--color-primary);
  --focus-color: var(--color-dark);
  --corner-secondary-color: var(--color-primary);
}

.button[data-button-variant='alert'] {
  --button-bg: var(--color-error);
  --button-text: var(--color-light);
}

.button[data-button-variant="naked"] {
  --button-bg: transparent;
  --button-x-padding: 0px;
  --button-y-padding: 0px;
  font-weight: 400;
  text-decoration: underline;
  text-transform: revert;
}

.button[data-button-size="small"] {
  --button-x-padding: 1em;
  --button-y-padding: 0.6em;
}

/* .card:has([href]:hover) {
  background: rgb(from var(--color-light) r g b / 5%);
  transition: background var(--transition-fade);
} */

.button svg {
  height: 1em;
  width: 1em;
}
