.closer {
  background: var(--color-primary);
  color: var(--color-dark);
  padding-block: clamp(10rem, 50vb, 20rem) var(--gutter);
  font-weight: var(--font-bold);
}

.closer svg[role='img'][width][height] {
  width: 100%;
  height: auto;
  background: unset;
  padding: unset;
}
