post-preview {
  --repel-vertical-alignment: start;
  position: relative;
  overflow: hidden;

  > * {
    --flow-space: var(--space-xxs);
  }

  .prose {
    --flow-space: var(--space-m);
  }
  
  h3 a {
    text-decoration: none;
  }

  time {
    color: var(--color-secondary);
    font-size: var(--size-step-0);
    margin-block-end: var(--space-s);
  }

  p {
    margin-block-end: var(--space-xs);
    word-break: anywhere;
    word-wrap: break-word;

    a {
      word-break: break-all;
    }
  }

  .read-more {
    color: var(--text-color);
  }

  .tag-list {
    margin-block: auto var(--space-s);
  }
}
