.rolodex {
  --flow-space: var(--space-3xl);
  --gutter: var(--space-l);
}

.rolodex__item {
  --rolodex-text: var(--color-dark);
  --rolodex-bg: var(--color-light);
  --rolodex-clip: var(--rolodex-triangle-color, var(--color-dark));

  padding: var(--space-l);
  background: var(--rolodex-bg);
  color: var(--rolodex-text);
  text-decoration: none;
  position: relative;
}

.rolodex__item::before {
  content: '';
  width: clamp(2rem, 10vi, 7.5rem);
  aspect-ratio: 1/1;
  position: absolute;
  pointer-events: none;
  clip-path: polygon(0 0, 100% 0, 100% 100%);
  background: var(--rolodex-clip);
  position: absolute;
  top: 0;
  right: 0;
}

.rolodex__item:hover {
  filter: brightness(105%);
}

.rolodex__heading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--space-l);
  margin: 0;
  font-weight: var(--font-black);
  font-size: var(--size-step-4);
}

.rolodex__number {
  font-size: var(--size-step-10);
}

.rolodex__item[data-rolodex-theme='primary'] {
  --rolodex-text: var(--color-dark);
  --rolodex-bg: var(--color-primary);
}

.rolodex__item[data-rolodex-theme='dark'] {
  --rolodex-text: var(--color-light);
  --rolodex-bg: var(--color-dark-glare);
}

/* Apply a sticky position treatment only for viewports that are large and up */
@media screen(lg) {
  .rolodex__list li {
    position: sticky;
    top: var(--gutter);
  }
}

