table {
  border: var(--stroke);
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 0.875rem;
  margin-block-start: var(--space-s);
  text-align: left;
  width: 100%;
  word-break: keep-all;
}

thead, tfoot {
  vertical-align: top;
}

td, th {
  border-bottom: var(--stroke);
  word-break: break-word;
  padding: var(--space-xs);

  [data-button-style="naked"] {
    height: auto;

    svg {
      height: auto;
    }
  }

  .button {
    --button-x-padding: 1em;
    --button-y-padding: 0.6em;
    font-size: var(--size-step-000);
  }
}

:is(th, td) ~ :is(th, td) {
  border-inline-start: var(--stroke);
}

tr + tr :is(th, td) {
  border-block-start: var(--stroke);
}

th {
  text-align: left;
  font-weight: 600;
  line-height: var(--leading-fine);
  background-color: var(--color-mint);
  color: var(--color-dark);
  padding: var(--space-xs);
  word-break: initial;

  &:where(.panel *) {
    background-color: var(--color-light);
  }

  a {
    display: flex;
    align-items: center;
    gap: var(--space-xxs);
  }

  svg {
    width: var(--space-s);
  }
}

thead th:not(:only-of-type) {
  border-block-end: var(--stroke);
}

thead th:only-of-type {
  border-inline-end: var(--stroke);
}

tr {
  &.confirmed {
    background-color: color-mix(in srgb, var(--color-success), transparent 80%);
  }

  &.optional {
    background-color: color-mix(in srgb, var(--color-warning), transparent 80%);
  }

  &[data-action] {
    cursor: pointer;

    &:hover {
      background-color: color-mix(in srgb, var(--color-secondary), transparent 80%);
    }
  }
}

tbody {
  vertical-align: top;
}

tfoot {
  th {
    border-block-start: var(--stroke);
    font-weight: 600;
  }
}

.cell-options,
.cell-amount {
  text-align: right;

  input:is([type=text], [type=number]) {
    width: 5em;
  }
}
