<% content_for(:page_class, "posts ") %>
<% content_for(:page_title, "Actualités") %>

<section>
  <div class="post-list">
    <%= render Website::PostPreview::Component.with_collection(@posts) %>
  </div>
</section>
