<div id="new-post">
  <div class="repel">
    <h1>Nouvelle actualité</h1>
    <%= link_to "Retour aux actualités", posts_path, class: "button" %>
  </div>

  <%= render "posts/form", post: @post, url: posts_path, class: "button" %>

</div>
