<% content_for(:page_class, "post-page ") %>

<% if @post.event.present? %>
  <%= render Website::Card::Event::Component.new(event: @post.event, inline: true) %>
<% end %>
<div class="flow">
  <%= @post.formatted_content %>
</div>
