<div class="repel">
  <h1><%= @post.title %></h1>

  <div>
    <%= link_to "Éditer cette actualité", edit_post_path(@post) %> |
    <%= link_to "Retour à la liste des actualités", posts_path %>
  </div>
</div>

<%= render @post %>
