.banner {
  --banner-color: var(--light-accent);
  background-color: color-mix(in srgb, var(--banner-color), transparent 40%);
  border: 1px solid var(--banner-color);
  border-radius: var(--radius-2);
  margin-block-end: var(--size-8);
  padding: var(--size-2) var(--size-3);

  &:where([data-banner-type="success"]) {
    --banner-color: var(--apple);
  }

  &:where([data-banner-type="alert"]) {
    --banner-color: var(--vermilion);
  }
}
