:is(.button, a.button, [type="submit"]) {
  --button-bg-color: var(--main-brand);
  --button-text-color: currentColor;
  background-color: var(--button-bg-color);
  border: 2px solid var(--button-bg-color);
  border-radius: var(--radius-2);
  color: var(--button-text-color);
  cursor: pointer;
  display: inline-flex;
  padding: var(--size-2) var(--size-3);
  text-align: center;
  transition: var(--transition-short);

  &:hover {
    filter: grayscale(0.3);
  }

  &:where([data-button-type="naked"]) {
    background: none;
    border-color: transparent;
    padding: 0;
  }

  &:where([data-button-type="outline"]) {
    background: none;
    border: 2px solid var(--button-bg-color);

    &:hover {
      background: color-mix(in srgb, var(--button-bg-color), transparent 80%);
    }
  }

  svg {
    height: 1em;
    width: 1em;
  }

  &[data-button-status="alert"] {
    --button-bg-color: var(--color-alert);
    --button-text-color: var(--white);
  }
}
