.card {
  --card-bg-color: var(--main-gradient);
  --card-border-color: transparent;
  align-items: start;
  background: var(--card-bg-color);
  border: 3px solid var(--card-border-color);
  border-radius: var(--radius-3);
  display: flex;
  flex-direction: column;
  gap: var(--size-3);
  justify-content: end;
  min-height: var(--size-12);
  padding: var(--size-4);
  text-decoration: none;
  transition: var(--transition-short);

  &:hover {
    --card-border-color: color-mix(in srgb, var(--blue), transparent 70%);
    filter: brightness(0.95);
  }

  .card-info {
    display: flex;
    flex-direction: column;
    gap: var(--size-3);
  }

  h3 {
    font-size: var(--font-size-5);
    margin: 0;
  }
}
