.card {
  --card-bg-color: var(--soft-gradient);
  --card-border-color: color-mix(in srgb, var(--electric), transparent 75%);
  align-items: start;
  background: var(--card-bg-color);
  background: var(--soft-gradient);
  border: 1px solid var(--card-border-color);
  border-radius: var(--radius-2);
  display: flex;
  flex-direction: column;
  gap: var(--size-3);
  justify-content: end;
  min-height: var(--size-12);
  padding: var(--size-4);
  text-decoration: none;
  transition: var(--transition-short);

  &:hover {
    --card-bg-color: color-mix(in srgb, var(--electric), transparent 90%);
    --card-border-color: var(--electric);
  }

  .card-info {
    display: flex;
    flex-direction: column;
    gap: var(--size-3);
  }

  h3 {
    font-size: var(--font-size-5);
    margin: 0;
  }
}
