.card {
  align-items: start;
  background-color: var(--main-brand);
  border: 2px solid var(--main-brand);
  border-radius: var(--radius-2);
  box-shadow: var(--light-elevation-low);
  color: var(--black);
  display: flex;
  flex-direction: column;
  gap: var(--size-3);
  justify-content: end;
  min-height: var(--size-12);
  padding: var(--size-4);
  text-decoration: none;
  transition: var(--transition-short);

  &:hover {
    box-shadow: var(--light-elevation-high);
  }

  .card-info {
    display: flex;
    flex-direction: column;
    gap: var(--size-3);
  }

  h3 {
    font-size: var(--font-size-fluid-1);
    margin: 0;
  }

  &:where([data-card-type="image"]) {
    --card-margin-top: var(--size-8);
    --image-background-color: var(--mint);
    box-shadow: var(--light-elevation-medium);
    margin-top: var(--card-margin-top);

    .image {
      aspect-ratio: 3 / 2;
      background-color: var(--image-background-color);
      border-radius: var(--radius-2);
      box-shadow: var(--light-elevation-medium);
      margin-top: calc(var(--card-margin-top) * -1);
      overflow: hidden;
      width: 100%;

      img {
        height: 100%;
        max-width: initial;
        object-fit: cover;
        width: 100%;
      }
    }
  }
}
