:is(.edition-card) {
  --card-border-color: transparent;
  align-items: stretch;
  border: 2px solid var(--card-border-color);
  border-radius: var(--radius-3);
  color: var(--white);
  display: flex;
  flex-direction: row;
  gap: var(--size-4);
  padding: var(--size-4);
  position: relative;
  text-decoration: none;
  transition: var(--transition-short);

  &:hover {
    --card-border-color: var(--gray);
    background-color: color-mix(in srgb, var(--green), transparent 80%);
  }

  .card-info {
    display: flex;
    flex-direction: column;
    gap: var(--size-2);
    z-index: 1;

    h3 {
      font-size: var(--font-size-4);
      margin-top: 0;
    }
  }

  img {
    align-self: start;
    flex-grow: 0;
    flex-shrink: 0;
    transition: all ease-out 0.2s;
    width: 30%;

    &:is(.event:hover > *) {
      transform: scale(1.05);
    }
  }
}
