footer {
  background: var(--dark-shades);
  color: var(--white);

  > * {
    display: flex;
    gap: var(--size-8);
    justify-content: space-between;
    padding-block: var(--size-10);
  }
  
  h3 {
    font-size: var(--font-size-4);
    margin-block-end: var(--size-2);
  }
}

svg.bottom {
  grid-column: 1 / -1;
  transform: rotate(180deg);
}
