body > header {
  --header-bg-color: var(--main-brand);
  padding: var(--size-4);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;

  nav {
    align-items: center;
    background-color: var(--header-bg-color);
    border-radius: var(--radius-3);
    box-shadow: var(--dark-elevation-medium);
    color: var(--black);
    display: flex;
    justify-content: space-between;
    padding: var(--size-4) var(--size-6);

    .home-button {
      font-family: var(--font-brand);
      font-size: var(--font-size-4);
      font-weight: var(--font-weight-8);
      line-height: var(--font-lineheight-0);
      padding: 0;
      text-wrap: balance;
    }

    .links {
      display: flex;

      button {
        display: none;
      }

      a {
        --entry-bg-color: color-mix(in srgb, var(--dark-accent), transparent 80%);
        --entry-border-color: color-mix(in srgb, var(--dark-accent), transparent 75%);
        align-items: center;
        border: 1px solid transparent;
        border-radius: var(--radius-2);
        display: flex;
        margin: auto 0;
        padding: var(--size-1) var(--size-3);
        position: relative;
        text-align: center;
        text-decoration: none;
        transition: var(--transition-short);
        z-index: 1;

        &:hover {
          background-color: var(--entry-bg-color);
          border: 1px solid var(--entry-border-color);
          color: currentColor;
        }
      }
    }

    .dropdown {
      align-items: center;
      display: inline-flex;
      flex-direction: column;
      position: relative;

      .dropdown-menu {
        background-color: var(--header-bg-color);
        border-radius: var(--radius-2);
        box-shadow: var(--light-elevation-medium);
        display: none;
        flex-direction: column;
        max-width: var(--size-12);
        padding: var(--size-2);
        position: absolute;
        top: 100%;
        transition: var(--transition-short);
        width: max-content;

        &:is(.dropdown:hover > *) {
          display: flex;
        }

        a {
          border-radius: var(--radius-2);
          padding: var(--size-1) var(--size-2);
          text-align: start;

          &:hover {
            --entry-bg-color: color-mix(in srgb, var(--light-accent), transparent 70%);
            --entry-border-color: color-mix(in srgb, var(--light-accent), transparent 75%);
          }

          &::after {
            content: none;
          }
        }
      }
    }

    @media (max-width: 1000px) {
      .links {
        align-items: start;
        background-color: var(--content-background-color);
        bottom: 0;
        flex-direction: column;
        height: 100vh;
        overflow-y: scroll;
        padding: var(--size-8) var(--size-4);
        position: fixed;
        right: calc(100% + var(--size-4));
        top: calc(var(--size-4) * -1);
        transition: transform ease-out 0.4s;
        width: calc(100% - var(--size-8));

        &:is([data-menu-active="true"] *) {
          box-shadow: var(--dark-elevation-high);
          transform: translateX(100%);
        }

        .dropdown {
          align-items: start;
          width: 100%;

          .dropdown-menu {
            border-radius: 0;
            box-shadow: none;
            display: flex;
            margin-inline-start: var(--size-3);
            max-width: 100%;
            position: relative;
            top: initial;

            > * {
              border-inline-start: var(--border-default);
              border-radius: 0;
            }
          }
        }

        button {
          align-items: center;
          display: inline-flex;
          gap: var(--size-2);
          margin-block-end: var(--size-4);

          svg {
            height: 1.5em;
            width: 1.5em;
          }
        }
      }
    }
  }
}
