body > header {
  background-color: color-mix(in srgb, var(--content-background-color), transparent 30%);
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;

  nav {
    align-items: center;
    color: var(--black);
    display: flex;
    justify-content: space-between;
    padding: var(--size-4) var(--size-6);

    .home-button {
      font-family: var(--font-brand);
      font-size: var(--font-size-5);
      font-weight: var(--font-weight-8);
      line-height: var(--font-lineheight-0);
      padding: 0;
    }

    .links {
      display: flex;

      button {
        display: none;
      }

      a {
        --entry-bg-color: color-mix(in srgb, var(--electric), transparent 95%);
        --entry-border-color: color-mix(in srgb, var(--electric), transparent 75%);
        border: 1px solid transparent;
        border-radius: var(--radius-2);
        padding: var(--size-1) var(--size-3);
        position: relative;
        text-decoration: none;
        transition: var(--transition-short);
        z-index: 1;

        &:hover {
          background-color: color-mix(in srgb, var(--electric), transparent 80%);
          border: 1px solid var(--entry-border-color);
        }
      }
    }

    .dropdown {
      align-items: center;
      display: flex;
      flex-direction: column;
      position: relative;

      .dropdown-menu {
        background-color: var(--content-background-color);
        border-radius: var(--radius-2);
        box-shadow: var(--dark-elevation-medium);
        display: none;
        flex-direction: column;
        max-width: var(--size-12);
        padding: var(--size-2);
        position: absolute;
        top: 100%;
        transition: var(--transition-short);
        width: max-content;

        &:is(.dropdown:hover > *) {
          display: flex;
        }

        a {
          border-radius: var(--radius-2);
          padding: var(--size-1) var(--size-2);

          &:hover {
            background-color: var(--indigo);
            color: var(--white);
          }

          &::after {
            content: none;
          }
        }
      }
    }
  }

  @media (max-width: 1000px) {
    .links {
      align-items: start;
      background-color: var(--content-background-color);
      bottom: 0;
      box-shadow: var(--dark-elevation-high);
      flex-direction: column;
      height: 100vh;
      overflow-y: scroll;
      padding: var(--size-8) var(--size-4);
      position: fixed;
      left: -100%;
      top: 0;
      transition: left ease-out 0.4s;
      width: fit-content;

      &:is([data-menu-active="true"] *) {
        left: 0;
      }

      .dropdown {
        align-items: start;
        
        .dropdown-menu {
          border-radius: 0;
          box-shadow: none;
          display: flex;
          margin-inline-start: var(--size-3);
          max-width: 100%;
          position: relative;
          top: initial;

          > * {
            border-inline-start: var(--border-default);
            border-radius: 0;
          }
        }
      }

      button {
        align-items: center;
        display: inline-flex;
        gap: var(--size-2);
        margin-block-end: var(--size-4);

        svg {
          height: 1.5em;
          width: 1.5em;
        }
      }
    }
  }
}
