hero-container {
  padding-block-start: var(--size-8);
  position: relative;
  text-align: center;

  h1 {
    background: url("icons/underline2.svg") center 0.75em no-repeat;
    background-size: 100%;
    color: var(--black);
    display: inline;
    font-family: "Garden Grown";
    font-size: var(--font-size-fluid-4);
    position: relative;
    text-wrap: initial;
    z-index: 1;
  }

  p {
    color: var(--black);
    font-size: var(--font-size-4);
    text-align: center;
  }

  .ornaments svg {
    height: auto;
    opacity: .1;
    position: absolute;
    width: var(--size-12);

    &.sprinkles {
      left: 7%;
      top: 15%;
      right: auto;
      bottom: auto;
    }

    &.sparkles {
      left: auto;
      top: 1%;
      right: 2%;
      bottom: auto;
    }

    &.swirl {
      left: 60%;
      top: 25%;
      right: auto;
      bottom: auto;
    }
  }
}
