hero-container {
  background-color: var(--background-color);
  background-size: 500px;
  padding-block: var(--size-8) 0;
  position: relative;
  text-align: center;

  p {
    color: var(--black);
    font-size: var(--font-size-4);
    text-align: center;
  }

  .full {
    background-color: var(--black);
  }

  .ornaments svg {
    height: auto;
    opacity: .1;
    position: absolute;
    width: var(--size-12);

    &.sprinkles {
      left: 7%;
      top: 15%;
      right: auto;
      bottom: auto;
    }

    &.sparkles {
      left: auto;
      top: 1%;
      right: 2%;
      bottom: auto;
    }

    &.swirl {
      left: 60%;
      top: 25%;
      right: auto;
      bottom: auto;
    }
  }
}
