.hero-card {
  --card-bg-color: #986C6A;
  align-items: end;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0;
  border-radius: var(--radius-3);
  color: var(--white);
  display: flex;
  filter: grayscale(0.2);
  font-family: var(--font-serif);
  font-size: var(--font-size-3);
  flex-shrink: 0;
  height: var(--size-11);
  padding: var(--size-4) var(--size-6);
  overflow: hidden;
  position: relative;
  text-decoration-line: none;
  transition: all ease-out 0.2s;
  z-index: 5;

  &:hover {
    filter: revert;
  }

  &::after {
    backdrop-filter: blur(50px);
    background-color: var(--hero-card-bg-color);
    background-image: linear-gradient(transparent, var(--gray-12));
    background-size: cover;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    opacity: 0.5;
    position: absolute;
    right: 0;
    top: 0;
  }

  &:hover::after {
    backdrop-filter: blur(0);
    opacity: 0.8;
    transition: all ease-out 0.4s;
  }
  
  h2 {
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-4);
    text-align: start;
    text-shadow: 0 0 6px var(--black);
    z-index: 1;

    &::before, &::after {
      content: none;
    }
  }

  &.bogue {
    --hero-card-bg-color: var(--deep-pink);
    background-image: url("home/events.jpg");
  }

  &.ecole {
    --hero-card-bg-color: var(--indigo);
    background-image: url("home/emt.jpg");
  }

  &.archives {
    --hero-card-bg-color: var(--electric);
    background-image: url("home/resources.jpg");
  }
}
