hero-container {
  display: flex;
  flex-direction: column;
  gap: var(--size-3);
  position: relative;
  text-align: center;

  h1 {
    background: url("icons/underline.svg") center bottom -0.5em no-repeat;
    background-size: 800px;
    color: var(--black);
    display: inline-block;
    font-family: "Garden Grown";
    font-size: var(--font-size-fluid-5);
    position: relative;
    text-wrap: balance;
    width: 100%;
    z-index: 1;
  }

  p {
    color: var(--light-accent);
    font-family: var(--font-serif);
    font-size: var(--font-size-fluid-1);
    line-height: 1.2;
    margin: 0;
    text-align: center;
    text-wrap: balance;
  }

  .ornaments svg {
    height: auto;
    opacity: .1;
    position: absolute;
    width: var(--size-12);

    &.sprinkles {
      left: 7%;
      top: 15%;
      right: auto;
      bottom: auto;
    }

    &.sparkles {
      left: auto;
      top: 1%;
      right: 2%;
      bottom: auto;
    }

    &.swirl {
      left: 60%;
      top: 25%;
      right: auto;
      bottom: auto;
    }
  }
}
