hero-container.home-hero {
  background: 0;
  gap: var(--size-6);
  margin: 0;
  padding: 0;

  > div:first-child {
    align-items: end;
    align-self: stretch;
    background: url("home/chateau.jpg") center center no-repeat;
    background-size: cover;
    border-radius: var(--radius-3);
    display: flex;
    filter: contrast(1.2);
    flex-grow: 1;
    justify-content: start;
    min-height: 20rem;
    overflow: hidden;
    padding: var(--size-6) var(--size-8);
    position: relative;
    transition: var(--transition-short);

    &::before {
      background-color: color-mix(in srgb, var(--indigo), transparent 50%);
      content: "";
      position: absolute;
      top: 0; left: 0;
      left: 0; right: 0;
      mix-blend-mode: color;
      width: 100%; height: 100%;
      opacity: 0.7;
    }
/*   
    &:is(hero-container:has(.bogue:hover) > *) {
      background-image: url("home/events.jpg");
    }

    &:is(hero-container:has(.ecole:hover) > *) {
      background-image: url("home/emt.jpg");
    }

    &:is(hero-container:has(.archives:hover) > *) {
      background-image: url("home/resources.jpg");
    } */
  }

  h1 {
    --text-shadow-color: color-mix(in srgb, var(--indigo), var(--black) 50%);
    color: var(--white);
    font-family: "Garden Grown";
    font-size: var(--font-size-fluid-3);
    position: relative;
    text-align: start;
    text-shadow: 0 0 10px var(--text-shadow-color),
                 1px 1px var(--text-shadow-color),
                 -1px 1px var(--text-shadow-color),
                 1px -1px var(--text-shadow-color),
                 -1px -1px var(--text-shadow-color);
    text-wrap: initial;
    z-index: 1;

    &:hover {
      animation-name:              shake;    
      animation-duration:          0.8s;
      animation-iteration-count:   infinite;
      animation-timing-function:   linear;
      transform-origin:            50% 100%;
    }

    @keyframes shake {
      0%   { transform: translate(2px, 1px) rotate(0deg); }
      10%  { transform: translate(-1px, -2px) rotate(-2deg); }
      20%  { transform: translate(-3px, 0px) rotate(3deg); }
      30%  { transform: translate(0px, 2px) rotate(0deg); }
      40%  { transform: translate(1px, -1px) rotate(1deg); }
      50%  { transform: translate(-1px, 2px) rotate(-1deg); }
      60%  { transform: translate(-3px, 1px) rotate(0deg); }
      70%  { transform: translate(2px, 1px) rotate(-2deg); }
      80%  { transform: translate(-1px, -1px) rotate(4deg); }
      90%  { transform: translate(2px, 2px) rotate(0deg); }
      100% { transform: translate(1px, -2px) rotate(-1deg); }
    }
  }

  .categories {
    --category-spacing: var(--size-5);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--size-6);
    
    h2 {
      font-size: var(--font-size-4);

      &::after {
        content: none;
      }
    }
  }
}
