.list-element {
  align-items: start;
  background: color-mix(in oklch, var(--background-color), transparent 50%);
  border-radius: var(--radius-2);
  color: var(--color-dark);
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  justify-content: end;
  padding: var(--space-m);
  text-decoration: none;
  transition: var(--transition-base);
  
  &:hover {
  }
  
  h3 {
    margin: 0;
  }
}
