post-preview {
  display: flex;
  flex-direction: column;
  gap: var(--size-3);

  .post-title {
    align-items: start;
    flex-direction: column;
    transition: var(--transition-short);

    &:hover {
      color: var(--red);
    }
  
    h2 {
      margin-top: 0;
    }
  }
}
