.post-preview {
  .image {
    position: relative;
    margin-block-start: var(--size-3);
    max-height: var(--size-13);
    overflow: hidden;
    width: 100%;

    &::after {
      background-image: linear-gradient(to top, color-mix(in srgb, var(--bossanova), transparent 20%), transparent 20%);
      content: "";
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    img {
      object-fit: cover;
      object-position: top;
    }
  }
}
