table {
  border-collapse: separate;
  border-spacing: 0;
  font-size: 0.875rem;
  text-align: left;
  width: 100%;
  word-break: keep-all;
}

thead {
  vertical-align: top;

  tr {
    &[data-action] {
      cursor: pointer;
  
      &:hover {
        background-color: var(--gray-2);
      }
    }

    th {
      background-color: var(--gray-1);
      font-weight: var(--font-weight-4);
      padding: var(--size-2) var(--size-2);
    
      &:first-child {
        border-top-left-radius: var(--radius-2);
        border-bottom-left-radius: var(--radius-2);
      }
      
      &:last-child {
        border-top-right-radius: var(--radius-2);
        border-bottom-right-radius: var(--radius-2);
      }
    }    
  }
}

tbody {
  vertical-align: top;
}

td {
  border-bottom: var(--border-default);
  word-break: break-word;
  padding: var(--size-2);

  [data-button-style="naked"] {
    height: auto;

    svg {
      height: auto;
    }
  }

  &.cell-options {
    text-align: right;
  }
}
