.tag {
  --tag-bg-color: var(--main-brand);
  background-color: var(--tag-bg-color);
  border-radius: var(--radius-2);
  font-family: var(--font-sans);
  font-size: 12px;;
  font-weight: var(--font-weight-6);
  padding: var(--size-1) var(--size-2);
  text-decoration: none;
  transition: all ease-out 0.2s;

  &:hover {
    background-color: color-mix(in srgb, var(--tag-bg-color), transparent 20%);
  }

  &:where([data-tag-color="light"]) {
    --tag-bg-color: var(--white);
  }

  &:where([data-tag-color="dark"]) {
    --tag-bg-color: var(--dark-shades);
  }

  &:where([data-tag-color="light-accent"]) {
    --tag-bg-color: var(--light-accent);
  }

  &:where([data-tag-color="dark-accent"]) {
    --tag-bg-color: var(--dark-accent);
  }

  > span {
    color: var(--tag-bg-color);
    filter: 
      invert(1)
      grayscale(1)
      contrast(9000)
    ;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    mix-blend-mode: luminosity;
  }
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-2);
}
