<tr data-controller="edit-slot" id="add-slot" class="add-item">
  <td colspan="5">
    <button class="button" data-action="edit-slot#editEntry" data-edit-slot-url-param="<%= new_secretariat_slot_path %>">
      Ajouter un créneau
    </button>
  </td>
</tr>
