<div class="repel">
  <h1><%= @household.name %></h1>

  <div>
    <%= link_to "Éditer le payeur", edit_household_path(@household) %> |
    <%= link_to "Retour à la liste des foyers", households_path %>
  </div>
</div>

<%= render @household %>
