html {
  background-color: var(--background-color);
  background-filter: opacity(0.1);
  background-image: url("icons/sprinkles.svg"),
                    url("icons/sparkles.svg"),
                    url("icons/crosses.svg");
  background-position: 62% 6%, right 1% top 2%, right 100% top 5%;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 20%, 20%, 10%;
}

body {
  background-size: cover;
  container-type: inline-size;
  display: flex;
  flex-direction: column;
  position: relative;

  &:has([data-menu-active="true"]) {
    height: 100dvh;
    overflow: hidden;
  }
}

main {
  display: flex;
  align-items: start;
  flex-direction: column;
  flex-grow: 1;
  gap: var(--space-xl);
  padding-block: var(--space-xl);
}

.formatted-content {
  img {
    margin: auto;
    max-height: 600px;
    max-width: 100%;
    width: auto;
  }
}

@media (max-width: 1000px) {
  main {
    column-gap: 0;
  }

  .dual-content {
    display: flex;
    flex-direction: column;

    .content-sidebar {
      border-bottom: var(--stroke);
      padding-block-end: var(--space-l);
      position: relative;
      top: 0;
      width: 100%;
    }
  }
}
