.pricing-table {
  th {
    width: 22%;
  }

  th:first-child {
    width: 33%;
  }

  small {
    display: block;
  }
}

.instrument-table {
  .cell-day {
    width: 17%;
  }

  small {
    display: block;
  }
}
