.editions {
  section.grid[data-grid="repeat"] {
    --column-width: 280px;
  }
}

.editions, .edition-page {
  dl {
    display: flex;
    gap: var(--space-xl);

    dt {
      font-size: var(--font-space-s);
    }
  }
}
