.events {
  .event-list {
    display: flex;
    flex-direction: column;
  }
}

section.event-description {
  gap: var(--size-8);

  h2 {
    font-size: var(--font-size-6);
  }

  aside ul {
    padding-inline-start: var(--size-4);
  }
}
