.events {
  .event-list {
    display: flex;
    flex-direction: column;
  }
}

section.event-description {
  display: grid;
  gap: var(--size-10);
  grid-template-columns: 2fr 3fr;

  > * {
    display: flex;
    flex-direction: column;
    gap: var(--size-8);
  }

  > .description {
    gap: var(--size-4);
  }

  h2 {
    font-size: var(--font-size-6);
  }
}
