.website {
  header {
    align-items: center;
    background-color: var(--gray-10);;
    border-radius: var(--radius-5);
    box-shadow: var(--size-2) var(--size-2) color-mix(in srgb, var(--lime-4), transparent 30%);
    color: var(--white);
    display: flex;
    height: var(--size-9);
    justify-content: center;
    margin-top: var(--size-4);
    position: sticky;
    top: var(--size-4);
    z-index: 10;

    nav {
      display: flex;
      gap: var(--size-4);
      justify-content: center;
      
      a {
        text-decoration: none;
      }
    }
  }
}
