.home {
  .hero {
    padding: var(--size-4);

    h1 {
      font-size: var(--font-size-fluid-3);
      text-align: center;
    }

    .content {
      gap: var(--size-10);
    }

    .categories {
      display: flex;
      gap: var(--size-8);
      justify-content: center;

      .card {
        &.bogue {
          --card-color: var(--pink-3);
        }
  
        &.ecole {
          --card-color: var(--green-3);
        }
  
        &.archives {
          --card-color: var(--blue-4);
        }
      }
    }
  }
}
