.home {
  .upcoming-events, .latest-posts {
    --gutter: var(--space-s);
  }

  .latest-posts {
    grid-column: 1 / 3;
  }

  .upcoming-events .grid {
    background-color: var(--color-mint);
    border-radius: var(--space-xs);
    padding: var(--space-s);
  }

  .upcoming-events event-card + event-card {
    border-inline-start: var(--stroke);
    padding-inline-start: var(--space-s);
  }
}
