.instruments {
  .prices {
    display: grid;
    gap: 0 var(--size-5);
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));

    dl {
      border: 2px solid var(--black);
      border-radius: var(--radius-2);
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: revert;
      padding: var(--size-3) var(--size-4);
    }
  }

  .instrument-list {
    container-type: inline-size;

    .grid {
      --column-width: 300px;
    }
  }

  .card {
    align-items: start;
  }
}

.instrument-page {
  .slot-list {
    display: flex;
    flex-direction: column;
    gap: var(--size-6);

    h3 {
      border-block-start: 1px solid var(--gray);
      font-size: var(--font-size-4);
      margin-block: var(--size-4) 0;
      padding-block-start: var(--size-3);
      width: 130px;

      &:first-child {
        border: 0;
        margin-block-start: 0;
        padding-block-start: 0;
      }
    }

    .city-block {
      &:not(:first-child) {
        border-top: var(--border-default);
        padding-block-start: var(--size-4);
      }
    }

    .city {
      display: flex;
      flex-direction: column;
      gap: var(--size-2);
      margin-block-start: var(--size-2);
    }

    .day {
      display: flex;
      flex-direction: column;
      gap: var(--size-2);
      margin-block-start: var(--size-1);
    }

    .slot {
      margin-block-start: var(--size-1);
    }
  }
}
