.instruments {
  .prices {
    display: grid;
    gap: 0 var(--size-5);
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));

    dl {
      border: 2px solid var(--black);
      border-radius: var(--radius-2);
      margin-top: revert;
      padding: var(--size-3) var(--size-4);
    }
  }

  .instrument-list {
    container-type: inline-size;

    .grid {
      --column-width: 300px;
    }
  }

  .card {
    align-items: start;
  }
}

.instrument-page {
  .left {
    .slot-list {
      display: flex;
      flex-direction: column;

      h3 {
        border-block-start: 1px solid var(--gray);
        font-size: var(--font-size-5);
        margin-block: var(--size-4) 0;
        padding-block-start: var(--size-3);

        &:first-child {
          border: 0;
          margin-block-start: 0;
          padding-block-start: 0;
        }
      }

      h4:empty {
        display: none;
      }

      .slot {
        margin-block-start: var(--size-1);
      }

      time {
        width: 160px;
      }
    }
  }
}
