.instruments {
  .prices {
    display: grid;
    gap: var(--size-5);
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));

    dl {
      border: 2px solid var(--white);
      border-radius: var(--radius-2);
      margin-top: revert;
      padding: var(--size-3) var(--size-4);
    }
  }

  .instrument-list {
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  }
}
