.posts {
  .post-list {
    display: flex;
    flex-direction: column;
  }

  .card {
    background: color-mix(in srgb, var(--electric), transparent 95%);
    --card-border-color: color-mix(in srgb, var(--electric), transparent 75%);
    border-radius: var(--radius-3);
    padding: var(--size-6);
  }
}

.post-page {
  dl {
    margin-block-end: var(--size-8);
  }

  img {
    margin-block-start: var(--size-4);
  }
}
