.posts {
  .post-list {
    display: flex;
    flex-direction: column;
  }
}

.post-page {
  img {
    margin-block-start: var(--size-4);
    width: 100%;
  }
}

.post-content {
  h1 {
    margin: 0;
  }
}
