.posts {
  .post-list {
    display: flex;
    flex-direction: column;
  }

  .card {
    padding: var(--size-6);
  }
}

.post-page {
  dl {
    margin-block-end: var(--size-8);
  }

  img {
    margin-block-start: var(--size-4);
  }
}
