.teachers {
  section.grid {
    background: 0;
    box-shadow: none;
    padding: 0;

    .card {
      justify-content: start;
    }
  }
}

.teacher-page {
  .image {
    float: right;
    padding: var(--size-2) 0 var(--size-6) var(--size-6);
    width: 500px;

    img {
      width: 100%;
    }

    .tag-list {
      justify-content: center;
    }
  
    svg {
      color: var(--white);
      height: 20rem;
      margin-top: var(--size-4);
      padding: var(--size-4);
      width: 100%;  stroke: transparent;
      fill: var(--black);
    }
  }
}
