.teachers {
  section.grid {
    --column-width: 350px;
    background: 0;
    box-shadow: none;
    padding: 0;

    .card {
      justify-content: start;
    }
  }
}

.teacher-page {
  .left {
    float: left;
    padding: var(--size-2) var(--size-4) var(--size-4) 0;
    width: 500px;

    img {
      width: 100%;
    }

    .tag-list {
      justify-content: center;
    }
  
    svg {
      color: var(--white);
      height: 20rem;
      margin-top: var(--size-4);
      padding: var(--size-4);
      width: 100%;  stroke: transparent;
      fill: var(--black);
    }
  }
}
