html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
}

.content {
  --gap: clamp(1rem, 6vw, 3rem);
  --full: minmax(var(--gap), 1fr);
  --content: min(60ch, 100% - var(--gap) * 2);
  --popout: minmax(0, 10rem);
  --feature: minmax(0, 15rem);

  display: grid;
  grid-template-columns:
    [full-start] var(--full)
    [feature-start] var(--feature)
    [popout-start] var(--popout)
    [content-start] var(--content) [content-end]
    var(--popout) [popout-end]
    var(--feature) [feature-end]
    var(--full) [full-end];
}

.content > * {
  align-self: start;
  grid-column: content;
}

.popout {
  grid-column: popout;
}

.feature {
  grid-column: feature;
}

.full {
  grid-column: full;
}

:is(div, p):empty {
  display: none;
}

a {
  svg {
    vertical-align: middle;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.gap-2 {
  gap: var(--size-2);
}

.gap-4 {
  gap: var(--size-4);
}

.gap-6 {
  gap: var(--size-6);
}

.gap-8 {
  gap: var(--size-8);
}

.gap-10 {
  gap: var(--size-10);
}

.rotate-90 {
  transform: rotate(-90deg);
}

.rotate90 {
  transform: rotate(90deg);
}
