@font-face {
  font-family: "Garden Grown";
  src: url("GardenGrown-Regular.ttf");
}

@font-face {
  font-family: "Young Serif";
  font-weight: 800;
  src: url("YoungSerif/YoungSerif-Regular.woff2") format("woff2"),
       url("YoungSerif/YoungSerif-Regular.otf") format("opentype"),
       url("YoungSerif/YoungSerif-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: var(--font-weight-7, 700);
  src: url("AvenirNext/AvenirNext-Bold.woff2") format("woff2"),
    url("AvenirNext/AvenirNext-Bold.woff") format("woff"),
    url("AvenirNext/AvenirNext-Bold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: var(--font-weight-6, 600);
  src: url("AvenirNext/AvenirNext-DemiBold.woff2") format("woff2"),
    url("AvenirNext/AvenirNext-DemiBold.woff") format("woff"),
    url("AvenirNext/AvenirNext-DemiBold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: var(--font-weight-5, 500);
  src: url("AvenirNext/AvenirNext-Medium.woff2") format("woff2"),
    url("AvenirNext/AvenirNext-Medium.woff") format("woff"),
    url("AvenirNext/AvenirNext-Medium.ttf") format("truetype");
  font-display: swap;
}
