form {
  display: flex;
  flex-direction: column;
  gap: var(--size-4);

  .hint {
    font-size: var(--font-size-0);
    margin: 0;
  }
}

.form-inputs {
  display: flex;
  flex-direction: column;
  gap: var(--size-4);

  .input {
    display: flex;
    flex-direction: column;
    gap: var(--size-2);
  }

  .boolean {
    display: flex;
    gap: var(--size-2);
  }
}

:where(input, select) {
  border: 1px solid var(--black);
  border-radius: var(--radius-2);

  &:focus {
    outline: 3px solid var(--blue);
  }
}

:where(input:not([type=checkbox], [type=button]), select) {
  padding: var(--size-2);
}

:where(input[type=checkbox]) {
  margin: 0;
}
