form {
  display: flex;
  flex-direction: column;
  gap: var(--size-4);

  .hint {
    font-size: var(--font-size-0);
    margin: 0;
  }
}

fieldset {
  background-color: var(--mint);
  border-color: var(--gray);
  border-style: solid;
  border-radius: var(--radius-2);
}

.form-inputs {
  display: flex;
  flex-direction: column;
  gap: var(--size-4);

  .input {
    display: flex;
    flex-direction: column;
    gap: var(--size-2);
  }

  .boolean {
    display: flex;
    gap: var(--size-2);
  }
}

.form-group {
  display: flex;
  gap: var(--size-3);
  width: 100%;
}

.form-element {
  display: flex;
  flex-direction: column;
  gap: var(--size-1);
  position: relative;
}

label {
  font-size: var(--font-size-0);
}

:where(input:not([type=checkbox], [type=button], [type=submit]), select, textarea) {
  border: 1px solid var(--dark-gray);
  border-radius: var(--radius-2);
  width: 300px;

  &.double {
    width: calc(300px * 2 + var(--size-6));
  }

  &:focus {
    outline: 3px solid var(--light-accent);
  }

  &:is(textarea) {
    width: 100%;
  }
}

:where(input:not([type=checkbox], [type=button]), select) {
  padding: var(--size-2);
}

:where(input[type=checkbox]) {
  margin: 0;
}

[data-controller="dynamic-fields"] {
  align-items: start;
  display: flex;
  flex-direction: column;
  gap: var(--size-3);
}

.form-inline {
  display: flex;
  align-items: center;
  gap: var(--size-1);
}
