html {
  font-family: var(--font-sans);
}

:where(h1, h2, h3, h4, p) {
  &:first-child {
    margin-block-start: 0;
  }

  &:last-child {
    margin-block-end: 0;
  }
}

:where(h1, h2, h3, h4) {
  font-family: var(--font-serif);
}

h1 {
  font-size: var(--font-size-7);
}

h2 {
  --underline-color: var(--main-brand);
  align-items: center;
  display: flex;
  font-size: var(--font-size-5);
  gap: var(--size-3);
  justify-self: start;
  margin-block-end: var(--size-6);
  position: relative;
  scroll-margin-top: var(--size-12);
  width: 100%;

  &::after {
    background: var(--underline-color);
    border-radius: var(--radius-2);
    content: "";
    display: inline;
    height: 0.1em;
    flex-grow: 1;
    position: relative;
    top: 0.15em;
  }

  svg {
    color: var(--underline-color);
    flex-shrink: 0;
  }
}

h3 {
  --underline-color: var(--dark-accent);
  font-size: var(--font-size-fluid-1);
  position: relative;
}

h4 {
  font-family: var(--font-sans);
  font-weight: var(--font-weight-7);
  margin-block-start: var(--size-3);
}

.subtitle {
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-6);
  margin-block: 0 var(--size-3);
}

a {
  &:not([class]):hover {
    color: var(--dark-accent);
  }

  &:where([class]) {
    color: currentColor;
    text-decoration: none;
  }
}
