<footer class="full content">
  <div class="popout">
    <div class="column">
      <h3>Contact</h3>
      <address>
        <div>6, rue Joseph Lamour de Caslou</div>
        <div>35600 Redon</div>
        <div>02 99 71 45 40</div>
        <div>coordination@gcbpv.org</div>
        <div>secretariat@gcbpv.org</div>
        <div>Le lundi et le jeudi de 10h à 12h30 et de 14h à 17h30</div>
        <div>Le mardi, mercredi et vendredi de 9h à 12h30 et de 14h à 17h30</div>
      </address>
    </div>
    <div class="column">
      <h3>École de musique traditionnelle</h3>
      <address>
        <div>02 99 71 36 50</div>
        <div>ecole@gcbpv.org</div>
      </address>
      <h3>Centre de ressources</h3>
      <address>
        <div>02 99 71 45 40</div>
        <div>archives@gcbpv.org</div>
      </address>
    </div>
  </div>
</footer>
