<% content_for(:page_class, "ecole subscription ") %>
<% content_for(:page_title, "Inscription") %>

<section class="flow">
  <p>Les inscriptions pour l’année 2026-2027 sont ouvertes !</p>
  <p>Les élèves inscrits avant le 15 juillet sont prioritaires. Après cette date, les places et créneaux ne peuvent être garantis.
  <p>Important : l'ouverture, comme le maintien, des cours et des ateliers se font sous réserve d'un nombre suffisant d'élèves inscrits.
  <p>Le règlement devra être mis en place au 30 septembre au plus tard.</p>
  <p>Vous pouvez envoyer le bulletin d’inscription ci-dessous à <a href="secretariat@gcbpv.org">secretariat@gcbpv.org</a>.</p>
  <a href="/files/inscription.pdf" class="button" data-button-size="large">
    <%= inline_svg "icons/form" %>
    Téléchargez le bulletin d’inscription
  </a>
  <a href="/files/plaquette.pdf" class="button" data-button-size="large">
    <%= inline_svg "icons/info" %>
    Téléchargez la plaquette d’information
  </a>
</section>
