<div class="autocomplete" data-address-target="list" hidden></div>
<template id="autocomplete-category" data-address-target="category">
  <div class="autocomplete-category"></div>
</template>
<template id="autocomplete-entry" data-address-target="entry">
  <a class="autocomplete-entry" data-action="address#autofill">
    <div class="street"></div><div class="city"></div>
  </a>
</template>
