<% content_for(:page_class, "home ") %>

<section class="hero full">
  <h1 class="feature">Bienvenue sur le site du<br>Groupement Culturel Breton<br>des Pays de Vilaine</h1>
  <div class="categories">
    <%= render Website::HeroCard::Component.new(title: "La Bogue", url: "", css_classes: "bogue") %>
    <%= render Website::HeroCard::Component.new(title: "L'école de musique traditionnelle", url: "", css_classes: "ecole") %>
    <%= render Website::HeroCard::Component.new(title: "Archives", url: "", css_classes: "archives") %>
  </div>
</section>
