<% content_for(:page_class, "home ") %>
<% content_for(:page_title, "Groupement Culturel Breton<wbr> des Pays de Vilaine".html_safe) %>

<div class="feature grid">
  <section class="latest-posts">
    <header>
      <h2>Dernières actualités</h2>
      <%= link_to "↬ Voir tous articles", posts_path %>
    </header>
    <div class="flex-column gap-4">
      <%= render Website::PostPreview::Component.with_collection(@posts, tag: "h3") %>
    </div>
  </section>
  <section class="upcoming-events">
    <header>
      <h2>Événements à venir</h2>
      <%= link_to "↬ Voir tous les événements", events_path %>
    </header>
    <div class="flex-column gap-4">
      <%= render Website::Card::Event::Component.with_collection(@events) %>
    </div>
  </section>
</div>
