<p>Bonjour <%= @resource.email %> !</p>

<p>Une requête de modification de mot de passe a été effectuée. Vous pouvez faire cette action avec le lien suivant :</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'avez pas demandé ce changement, veuillez ignorer cet email.</p>
<p>Votre mot de passe ne sera pas modifié tant que vous n’avez pas cliqué sur le lien ci-dessus et créé un nouveau mot de passe.</p>
