<event-card>
  <%= link_to @event, class: "list-element event-card" do %>
    <time>
      <%= @event.date_period %>
    </time>
    <div class="event-info">
      <h3><%= @event.name %></h3>
      <address>
        <%= @event.location %>
      </address>
    </div>
  <% end %>
</event-card>
