<event-card class="card panel <% if @inline %>row<% end %>">
  <%= link_to website_event_path(@event), class: "repel" do %>
    <time><%= @event.date_period %></time>
    <div class="flow">
      <h3><%= @event.name %></h3>
      <address><%= @event.city %></address>
    </div>
  <% end %>
</event-card>
