<tr data-controller="edit-subscription" id="add-kid-workshop" class="add-item">
  <td colspan="8">
    <button class="button" data-action="edit-subscription#editEntry" data-edit-subscription-url-param="<%= new_secretariat_subbed_kid_workshop_path %>">
      Ajouter un atelier Enfance
    </button>
  </td>
</tr>
