<% content_for(:page_class, "bogue ") %>
<% content_for(:page_title, "La Bogue d’Or") %>
<% content_for(:page_description, "Fête de la culture traditionnelle de Haute-Bretagne") %>

<section>
  <div class="panel">
    <p>Tous les ans, le 4ème samedi du mois d’octobre, se tient à Redon, la Bogue d’Or.</p>
    <%= image_tag "bogue/concours.jpg" %>
  </div>
</section>
<%= image_tag "bogue/bal.jpg", class: "full" %>
