<tr data-controller="edit-subscription" id="add-workshop" class="add-item">
  <td colspan="8">
    <button class="button" data-button-size="small"data-action="edit-subscription#editEntry" data-edit-subscription-url-param="<%= new_secretariat_subbed_workshop_path %>">
      Ajouter un atelier
    </button>
  </td>
</tr>
