<% content_for(:page_class, "secretariat") %>

<% content_for :content do %>
  <header>
    <h1>Secrétariat</h1>
    <%= render Secretariat::Navigation::Component.new %>
  </header>
  <main>
    <%= yield %>
  </main>
<% end %>
<%= render template: "layouts/application" %>
