<post-preview class="panel flow">
  <%= image_tag @post.cover_image if @post.cover_image.class == "string" %>
  <h3><%= link_to @post.title, website_post_path(@post) %></h3>
  <time>Publié le <%= @post.publication_datetime %></time>
  <% if @post.categories.present? %>
    <div class="tag-list cluster cluster">
      <% @post.categories.each do |category| %>
        <span class="tag" data-tag-color="">
          <span><%= category.name %></span>
        </span>
      <% end %>
    </div>
  <% end %>
</post-preview>
