<div class="repel">
  <h1>Éditer cet atelier Enfance</h1>
  <%= link_to "Retour aux ateliers Enfance", kid_workshops_path, class: "button" %>
</div>

<%= render "form", kid_workshop: @kid_workshop %>
